<section class="py-5" style="background-color: #f8f8f8">
  <div class="container">
    <div class="row pb-4">
      <div class="col-12 text-center">
        <span class="ace-primary aceSecTitle">{{ homeData.h2 }}</span>
      </div>
      <div class="col-12 text-center">
        <h6 class="aceSecSubTitle">{{ homeData.s2 }}</h6>
      </div>
    </div>

    <div class="row">
      <owl-carousel-o [options]="customOptions">
        <ng-template *ngFor="let i of allPropertyTypes" carouselSlide>
          <div>
            <div class="item">
              <div
                class="ace-card-long1 lazy mx-auto"
                [style]="
                  'background:url(' +
                  ds.baseurl +
                  '/media/images/' +
                  i.url +
                  ')'
                "
              >
                <div class="ace-cardl-container">
                  <div class="ace-cardl-content">
                    <div>
                      <span class="acelcardtext">{{ i.name }}</span>
                    </div>
                    <div
                      class="my-2"
                      style="display: flex; align-items: center"
                    >
                      <div class="ace-dot"></div>
                      <h6 class="m-0 acelcardtextNumber">
                        {{ i.noOfItems }} Listings
                      </h6>
                    </div>
                    <div>
                      <button
                        class="btn btn-dark btn-sm ace-btn-gray"
                        (click)="openUrl(i.id)"
                      >
                        View All Properties
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
      <!-- <swiper
        [navigation]="true"
        [slidesPerView]="4"
        [spaceBetween]="0"
        [pagination]="{
          clickable: true
        }"
        class="mySwiper"
      >
        <ng-template
          [class]="'item'"
          swiperSlide
          *ngFor="let i of allPropertyTypes"
        >
          <div>
            <div class="item">
              <div
                class="ace-card-long1 lazy mx-auto"
                [style]="
                  'background:url(' +
                  ds.baseurl +
                  '/media/images/' +
                  i.url +
                  ')'
                "
              >
                <div class="ace-cardl-container">
                  <div class="ace-cardl-content">
                    <div>
                      <span class="acelcardtext">{{ i.name }}</span>
                    </div>
                    <div
                      class="my-2"
                      style="display: flex; align-items: center"
                    >
                      <div class="ace-dot"></div>
                      <h6 class="m-0 acelcardtextNumber">
                        {{ i.noOfItems }} Listings
                      </h6>
                    </div>
                    <div>
                      <button
                        class="btn btn-dark btn-sm ace-btn-gray"
                        (click)="openUrl(i.id)"
                      >
                        View All Properties
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </swiper> -->
    </div>

    <!-- <div class="row d-none d-md-block d-lg-none">
      <swiper
        [slidesPerView]="2"
        [spaceBetween]="0"
        [pagination]="{
          clickable: true
        }"
        class="mySwiper"
      >
        <ng-template
          class="item"
          swiperSlide
          *ngFor="let i of allPropertyTypes"
        >
          <div>
            <div
              class="ace-card-long1 mx-auto"
              [style]="
                'background:url(' + ds.baseurl + '/media/images/' + i.url + ')'
              "
            >
              <div class="ace-cardl-container">
                <div class="ace-cardl-content">
                  <div>
                    <span class="acelcardtext">{{ i.name }}</span>
                  </div>
                  <div class="my-2" style="display: flex; align-items: center">
                    <div class="ace-dot"></div>
                    <h6 class="m-0 acelcardtextNumber">
                      {{ i.noOfItems }} Listings
                    </h6>
                  </div>
                  <div>
                    <button
                      class="btn btn-dark btn-sm ace-btn-gray"
                      (click)="openUrl(i.id)"
                    >
                      View All Properties
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </swiper>
    </div> -->

    <!-- <div class="row d-lg-none d-md-none">
      <swiper
        [slidesPerView]="1"
        [spaceBetween]="0"
        [pagination]="{
          clickable: true
        }"
        class="mySwiper"
      >
        <ng-template
          class="item"
          swiperSlide
          *ngFor="let i of allPropertyTypes"
        >
          <div>
            <div
              class="ace-card-long1 mx-auto"
              [style]="
                'background:url(' + ds.baseurl + '/media/images/' + i.url + ')'
              "
            >
              <div class="ace-cardl-container">
                <div class="ace-cardl-content">
                  <div>
                    <span class="acelcardtext">{{ i.name }}</span>
                  </div>
                  <div class="my-2" style="display: flex; align-items: center">
                    <div class="ace-dot"></div>
                    <h6 class="m-0 acelcardtextNumber">
                      {{ i.noOfItems }} Listings
                    </h6>
                  </div>
                  <div>
                    <button
                      class="btn btn-dark btn-sm ace-btn-gray"
                      (click)="openUrl(i.id)"
                    >
                      View All Properties
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </swiper>
    </div> -->

    <div class="mt-5 row">
      <div class="col-12 text-center">
        <div class="d-flex justify-content-center">
          <button class="btn btn-dark view-all-btn" routerLink="/all-category">
            View All
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
