/* property slider start */

.off-plan-property {
  border-radius: 10px;
  height: auto;
  width: 100%;
  overflow: hidden;
  border: 1px solid #eaeef9;
  /* transition: all .3s ease-in-out;
box-shadow: 0 1px 1px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 12%), 0 4px 4px rgb(0 0 0 / 12%), 0 8px 8px rgb(0 0 0 / 12%), 0 16px 16px rgb(0 0 0 / 12%); */
}

.off-plan-property .op-prop-content {
  padding: 1.5rem;
  background-color: #fff;
}
.off-plan-property .op-prop-content h4 {
  font-size: 1.125rem;
  color: #070510;
  font-weight: 600;
  margin-bottom: 5px;
  font-family: "Nunito Sans", sans-serif;
}
.off-plan-property .op-prop-content .op-place {
  color: #070510;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 10px;
  margin-top: 5px;
  font-weight: 800;
}
.off-plan-property .op-prop-content .op-location {
  color: #070510;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}
.off-plan-property .op-prop-content .op-location i {
  color: #03816c;
  font-size: 14px;
  margin-right: 5px;
}
.off-plan-property .op-prop-content ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.off-plan-property .op-prop-content ul li {
  display: inline-block;
  margin-right: 30px;
  font-size: 14px;
}
.off-plan-property .op-prop-content ul li i {
  color: #03816c;
  margin-right: 5px;
}
.off-plan-property .op-prop-content ul li span {
  font-family: "Nunito Sans", sans-serif;
  color: #070510;
}
/* #off-plan-projects .off-plan-property .op-prop-content .border1{
border: 1px solid #47b09f;
margin-top: 10px;
margin-bottom: 5px;
} */
.off-plan-property .op-prop-ftr {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 16px;
  background-color: #fff;
  border-top: 1px solid #eaeef9;
}
.off-plan-property .op-prop-ftr h5 {
  font-size: 17px;
  color: #64636a;
  font-weight: 600;
  margin-bottom: 0px;
  font-family: "Nunito Sans", sans-serif;
  margin-left: 20px;
}
.off-plan-property .op-prop-ftr .op-prop-ftr-img {
  height: 50px;
  width: 50px;
  overflow: hidden;
}
.off-plan-property .op-prop-ftr .op-prop-ftr-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
/* swiper js start*/
.swiper {
  width: 100%;
  height: 240px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 27px;
}
.swiper-button-next,
.swiper-button-prev {
  color: #03816c;
}
.swiper-slide img::selection {
  background-color: transparent;
}

/* swiper js end */
/* property slider end */

.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
  right: 10px;
  padding: 30px;
  color: #000 !important;
  fill: black !important;
  stroke: black !important;
}
