<!-- Breadcrumb start -->
<section id="acebreadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <nav
          style="
            --bs-breadcrumb-divider: url(
              &#34;data:image/svg + xml,
              %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='currentColor'/%3E%3C/svg%3E&#34;
            );
          "
          aria-label="breadcrumb"
        >
          <ol class="breadcrumb mb-0 d-flex align-items-center">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Contact Us
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb end -->

<section id="ace-contact-us">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="contct-txt">
          <h4>CONTACT WITH US</h4>
          <h1>Get in touch now</h1>
          <p style="color: black">
            Do you want to talk to one of our real estate brokers about finding
            the right property for you? If you have any questions or doubts
            about the specific steps you need to take in order to buy, sell or
            rent a property in UAE, you can contact one of our lawyers who can
            help you understand the entire process and the legal implications
            involved.
          </p>
          <h6>Have any question?</h6>
          <ul>
            <li>
              <a href="tel:+97143739500"
                ><i class="fa-solid fa-phone"></i> +971 4 373 9500</a
              >
            </li>
          </ul>
          <h6>Write email</h6>
          <ul>
            <li>
              <a href="mailto:info@acecapitalrealty.com"
                ><i class="fa-solid fa-envelope"></i>
                info@acecapitalrealty.com</a
              >
            </li>
          </ul>
          <h6>Visit anytime</h6>
          <ul>
            <li>
              <a href="https://goo.gl/maps/aVrnk3E1xQTaxWnB9" target="_blank"
                ><i class="fa-solid fa-location-dot"></i> 1501/1509, Westburry
                Tower Office, Business Bay, Dubai</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 my-4 my-lg-0">
        <div class="contct-form">
          <div class="row g-3">
            <div class="col-12">
              <label for="name" class="form-label form-input-label">Name</label>
              <input
                [(ngModel)]="name"
                type="text"
                class="form-control form-input-bg"
                id="name"
                required
              />
            </div>
            <div class="col-12">
              <label for="inputEmail4" class="form-label form-input-label"
                >Email</label
              >
              <input
                [(ngModel)]="email"
                type="email"
                class="form-control form-input-bg"
                id="inputEmail4"
                required
              />
            </div>
            <div class="col-12">
              <label for="mobile" class="form-label form-input-label"
                >Mobile</label
              >
              <input
                [(ngModel)]="phone"
                type="text"
                class="form-control form-input-bg"
                id="mobile"
                required
              />
            </div>
            <div class="col-12">
              <label
                for="exampleFormControlTextarea1"
                class="form-label form-input-label"
                >Message</label
              >
              <textarea
                [(ngModel)]="message"
                class="form-control form-input-bg"
                id="exampleFormControlTextarea1"
                rows="3"
              ></textarea>
            </div>
            <div class="col-12">
              <button class="btn submitbtn" (click)="handleSubmit()">
                Send A Message
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- map start -->
<section id="ace-contact-map">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.508899681363!2d55.27233461432708!3d25.1860551383346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f682df558b79d%3A0xa639fd1c28ec79ab!2sWestburry%20Residence!5e0!3m2!1sen!2sin!4v1670323087325!5m2!1sen!2sin"
          width="100%"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</section>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
